* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: var(--second-bg-color);
}

::-webkit-scrollbar-track {
  background-color: #999;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--second-bg-color);
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: var(--main-color);
  border-radius: 3px;
}

.image {
  width: 400px;
  height: 400px;
  background: #1c3582;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  -webkit-box-shadow: 0 0 1rem var(--main-color);
          box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}
.heading span {
  color: var(--main-color);
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --txt-color: #fff;
  --main-color:#0ef;
}

html {
  fonst-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--txt-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}
.header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.header .logo {
  font-size: 2.5rem;
  color: var(--txt-color);
}
.header #menu-icon {
  font-size: 3.6rem;
  color: var(--txt-color);
  display: none;
  cursor: pointer;
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: 1.7rem;
  color: var(--txt-color);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.header .navbar a.active {
  color: var(--main-color);
}
.header .navbar a.active, .header .navbar a:hover {
  color: var(--main-color);
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-content h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.home-content h3 span {
  color: var(--main-color);
}
.home-content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-size: 1.6rem;
}
.home-content .social-media a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.home-content .social-media a:hover {
  -webkit-box-shadow: 2px 2px 10px var(--txt-color);
          box-shadow: 2px 2px 10px var(--txt-color);
  color: var(--txt-color);
  background: var(--main-color);
}
.home-img {
  width: 35vw;
  -webkit-animation: floatImage 4s ease-in-out infinite;
          animation: floatImage 4s ease-in-out infinite;
}

@-webkit-keyframes floatImage {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2.4rem);
            transform: translateY(-2.4rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes floatImage {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2.4rem);
            transform: translateY(-2.4rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}
.about img {
  width: 35wv;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.services h2 {
  margin-bottom: 5rem;
}
.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.services-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.services-box h3 {
  font-size: 2.6rem;
}
.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
.services-box:hover {
  border-color: var(--main-color);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.portfolio {
  background: var(--second-bg-color);
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}
.portfolio-box {
  position: relative;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 1rem var(--bg-color);
          box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio-box:hover .portfolio-layer {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-box img {
  width: 100%;
  height: 300px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.portfolio-box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.portfolio-layer {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(var(--main-color)));
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.portfolio-layer h4 {
  font-size: 2.5rem;
}
.portfolio-layer p {
  font-size: 1.5rem;
  margin: 0.3rem 0 1rem;
}
.portfolio-layer a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--txt-color);
  border-radius: 50%;
}
.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--txt-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
.contact form .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact form .input-box input {
  width: 49%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--txt-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}
.footer p {
  font-size: 1.6rem;
}
.footer .iconTop a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.footer .iconTop a:hover {
  -webkit-box-shadow: 0 0 1rem var(--main-color);
          box-shadow: 0 0 1rem var(--main-color);
}
.footer .iconTop a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .contact {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
  .services {
    margin-bottom: 7rem;
  }
  .services-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .header #menu-icon {
    display: block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
    -webkit-transition: 0.5 ease;
    transition: 0.5 ease;
  }
  .header .navbar.active {
    display: block;
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 3%;
  }
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img {
    width: 70vw;
    margin-top: 4rem;
    margin-left: 15rem;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about img {
    width: 70vw;
    margin-top: 4rem;
  }
  .services h2 {
    margin-bottom: 3rem;
  }
  .portfolio {
    padding-bottom: 7rem;
  }
  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
  .contact form .input-box input {
    width: 100%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about-img img {
    width: 90vw;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=main.css.map */